.main {
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;

    .container {
        width: 100%;
        padding: 90px 10px !important;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width:768px) {
            grid-template-columns: repeat(1, 1fr);
            padding: 40px 10px !important;
        }

        .image_box {
            width: 100%;
            box-sizing: border-box;
            // height: 30vh;
            display: flex;
            justify-content: center;

            .image {
                width: auto;
                height: auto;
            }
        }

        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px !important;
            box-sizing: border-box;

            .heading {
                font-size: 50px;
                padding: 0px;
                margin: 0px;
                font-weight: bolder;

                @media (max-width:768px) {
                    text-align: center;
                }
            }

            .paragraph {
                font-size: 18px;
                padding: 0px;
                color: grey;
                margin: 10px 0px;
                text-align: justify;
                box-sizing: border-box;

                @media (max-width:768px) {
                    text-align: justify;
                    margin: 20px 0px !important;
                }
            }

            .notic_box {
                display: flex;
                border: 1px solid #797878;
                justify-content: left;
                box-sizing: border-box;
                align-items: flex-start;
                width: 100%;
                column-gap: 15px;
                padding: 15px 10px !important;

                .notic_icon {
                    color: #e83e3c;
                    font-size: 18px;
                }

                .notic {
                    font-size: 17px;
                    color: #121212;
                    // padding: 0px;
                    margin: 0px;
                    padding: 0px 5px !important;
                }
            }
        }

    }
}